---

- name: Deploy all workshop resources
  hosts: localhost
  connection: local
  gather_facts: false
  run_once: true
  vars_files:
    - group_vars/all.yml
  vars:
    ACTION: install

  tasks:
  - include: tasks/nfd.yml
